.navbar {
    border-bottom: 1px solid #000000; 
    background-color: #f9d749;       
    height: 80px;                 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); 
    position: sticky;             
    top: 0;                       
    z-index: 10;                  
}

.navbar .container {
    display: flex;
    align-items: center;
    height: 100%;
}

.logo {
    font-size: 1.5rem;   
    font-weight: bold;   
    margin: 0;           
    color: #000000;        
    text-decoration: none; 
    flex-shrink: 0;
    margin-left: 1rem;
}

.desktop-menu {
    display: none;
    flex-grow: 1;
    text-align: center;
}

.desktop-menu a {
    text-decoration: none;      
    color: #000000;                 
    font-size: 0.9rem;          
    transition: color 0.2s ease; 
    margin: 0 0.75rem;
}

.desktop-menu a:hover {
    color: #000;                 
}

.icons {
    display: flex;        
    align-items: center;  
    gap: 0.75rem;       
    margin-left: auto;
    flex-shrink: 0;
}

.nav-icon {
    width: 24px;          
    height: 24px;
    fill: #555;           
    cursor: pointer;      
    display: block;       
    transition: fill 0.2s ease; 
}

.nav-icon:hover {
    fill: #000;           
}


.mobile-menu-button {
    display: block;
    background: none;
    border: none;
    font-size: 1.8rem; 
    color: #000000;     
    cursor: pointer;
    padding: 0.5rem; 
}


/* --- Responsive --- */
@media (min-width: 768px) {
    .mobile-menu-button {
        display: none;
    }

    .logo {
        margin-left: 0;
    }

    .desktop-menu {
        display: block;
    }

    .user-icon {
         display: block;
    }
}