.navbar {
    border-bottom: 1px solid #eee; /*เส้นคั่นด้านล่าง*/
    background-color: rgb(255, 83, 83); 
    height: 80px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    /*อยู่บนสุด ฮ่าฮ๋า*/
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar .container {
    display: flex;
    align-items: center; /*ทำให้อยู่ตรงกลาง*/
    height: 100%;
}


.logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    color: #000000;
    text-decoration: none; /*เอา่ขีดเส้นใต้ออก เย่😭*/
}


.com-menu {
    display: none;
    flex-grow: 1;
    text-align: center;
}
.com-menu a {
    margin: 0 0.75rem;
    text-decoration: none;
    color: #000000;
    font-size: 0.9rem;
    transition: color 0.2 ease;
}
.com-menu a:hover {
    fill: #000;
}


.icons {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    flex-shrink: 0;
}
.nav-icons {
    width: 24px;
    height: 24px;
    fill: #555;
    cursor: pointer;
    display: block; /*ทำให้ตัวที่อยู่บรรทัดเดียวกันเป็นกล่อง*/
    transition: fill 0.2s ease;
}
.nav-icons:hover {
    fill: #000;
}


.mobile-menu-button {
    display: block;
    background: none;
    border: none;
    font-size: 1.8rem;
    color: #333;
    cursor: pointer;
    padding: 0.5rem;
    margin-left: auto;
}


@media (min-width: 768px) {
    .mobile-menu-button {
        display: none;
    }

    .com-menu {
        display: block;
    }

    .user-icons {
        display: block;
    }
}